<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <thead>
    <th>Name</th>
    <th>LastName</th>
    <th>Email</th>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>

        <td>
            <a th:href="@{/edit(id=${user.getId()})}">edit</a>
            <a th:href="@{/delete(id=${user.getId()})}">delete</a>
        </td>
    </tr>
</table>

<h2>Add</h2>
<a th:href="@{/new}">add new user</a>
</body>
</html>